.contact {
  padding: 50px;
  background-color: #f5be09;
}
h1.hire__text {
  font-size: 60px;
}
p.hire__text {
  font-size: 18px;
  line-height: 30px;
  color: rgba(29, 29, 36, 0.75);
  font-weight: 400;
}
::placeholder{
  color: white;
}
input.contact {
  display: block;
  width: 100%;
  padding: 0 20px;
  border: 2px solid rgb(255, 255, 255);
  transition: all 0.3s ease;
  height: 50px;
  line-height: 46px;
  outline: none;
  margin: 20px 0px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  letter-spacing: 0.1px;
  background: none;
  border: 2px solid hsl(0, 0%, 100%);
}
textarea#message {
  height: 120px;
  background: none;
  padding: 0 20px;
  width: 100%;
  line-height: 46px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  letter-spacing: 0.1px;
  border: 2px solid hsl(0, 0%, 100%);
}

button.btn.contact.pointer {
  color: #f5be09 !important;
  background: white;
  margin: 20px 0px;
}
button.btn.contact.pointer:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: ease-in-out;
  transition-duration: 500ms;
}
.contact__img {
  border-radius: 20px;
  width: 100%;
  height: 500px;
}
@media only screen and (max-width: 366px) {
  h1.hire__text {
    font-size: 40px;
  }

}